@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 100%;
}

/* Navbar start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}
.navbar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #121212;
    width: 340px;
    height: 80px;
    padding: 20px;
}
.navbar__logo h2 {
    color: #BF9C56;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}
.navbar__button{
    background-color: #BF9C56;
    color: white;
    border: none;
    padding: 20px 10px;
    border-radius: none;
    cursor: pointer;
    border: 1px solid #BF9C56;
    padding: 30px;
    font-weight: bold;
}
.navbar__button:hover {
    background-color: white;
    color:#BF9C56;
    border: 1px solid #BF9C56;
    transition: 0.3s ease-in-out;
}
.navbar__button:active {
    transform: scale(0.98);
    transition: 0.1s ease-in-out;
}
.navbar__menus {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar__menus__p{
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    list-style-type: none;
    gap: 30px;
}
.navbar__menus__p li:hover {
    color: #BF9C56;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.navbar__menu__iconsDiv{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #BF9C56;
    text-align: center;
    font-weight: bold;
    margin-left: 150px;
}
/* Navbar end */

/* Section 1 start */

.section__1 {
    /* background-image: url('../img/iiiuu.png'); */
}
.section__1 > img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.section1__top {
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: center;
}
.section1__top__numbers {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
    text-align: center;
    color: #333333;
}
.section1__top_nm_clicked {
    color:#BF9C56;
}
.section1__top__name{
    font-weight: bold; 
    font-size: 40px;
    text-transform: uppercase;
    color: #BF9C56;
    letter-spacing: 0%;
    line-height: 40px;
}
.section1__top_about{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #BF9C56;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
/* Section 1 end */