* {
  box-sizing: border-box;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
body {
  max-width: 1920px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #bf9c56;
  font-weight: 700;
  background-color: #f2f2f2;
  margin: 0 auto;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "montserrat", sans-serif;
}
.sariq {
  color: #bf9c56;
}
.qora {
  color: #1a1a1a;
}
.box1 {
  background-image: url(pics/box1bacpic.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* max-width: 1920px; */
}
.headerbox1 {
  display: flex;
  align-items: center;
  background-color: #121212b9;
}
.d1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 30px 27px 30px;
  /* gap: 15px; */
}
.d1txt {
  font-size: 10px;
  line-height: 11px;
  width: 142px;
}
.d2 {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: #ffff;
}
.d2__texts {
  cursor: pointer;
}
.d2__texts:hover {
  color: #bf9c56;
  transition: all 0.4s ease;
}
.d3 {
  padding: 30px 30px 30px 186px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}
.telefon {
  color: #bf9c56;
  text-decoration: none;
}
.d33 {
  display: flex;
  gap: 20px;
}
.d4 {
  padding: 30px 40px;
  margin-left: auto;
  background-color: #bf9c56;
  color: white;
  cursor: pointer;
}
.d4:hover {
  background-color: white;
  color: #bf9c56;
  transition: all 0.8s ease;
}

.box1main {
  width: 640px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 80px 1000px 70px 280px;
}
.b1end {
  display: flex;
  padding: 0px 240px;
  background-color: #1a1a1a;
}
.b1endbox {
  border-left: 3px solid black;
  width: 25%;
  display: flex;
  gap: 20px;
  color: white;
  font-size: 18px;
  padding: 20px 40px;
  align-items: center;
}
.www {
  border-right: 3px solid black;
}
.dm1 {
  display: flex;
  gap: 40px;
}
.dm1txt {
  color: #333333;
}
.dm2 {
  color: #bf9c56;
}
.dm2txt {
  font-size: 40px;
}
.aaa {
  width: 33%;
}
.dm3 {
  display: flex;
  gap: 20px;
}

.box1footer {
  margin: 0px 240px 40px 240px;
  height: 170px;
  /* padding: 0px 40px; */
}
.b1foottxt {
  height: 40px;
  color: white;
  padding: 0px 40px;
}
.box1ff {
  display: flex;
}
.boxed__items__ff {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  padding: 15px 20px;
  width: 33%;
  margin: 40px;
  background-color: black;
  color: #bf9c56;
  text-transform: uppercase;
  font-weight: bold;
}

.boxed__items__ff__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bf9c56;
  padding: 15px 20px;
  width: 33%;
  margin: 40px;
  background-color: black;
  color: #bf9c56;
  text-transform: uppercase;
  font-weight: bold;
}
.boxed__items__ff__btn:active {
  transform: scale(0.95);
}
.primerly__items__box__3 {
  display: flex;
  background-color: black;
  height: 800px;
}
.primerly__items__box__3L {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 240px 200px;
}
.primerly__items__box__3R {
  width: 50%;
}
.primerly__items__box__3R img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.primerly__items__box__3h2 {
  font-size: 40px;
}
.primerly__items__box__3h5 {
  color: white;
  font-size: 18px;
}
.primerly__items__box__3ff {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid #bf9c56;
  padding: 15px 0px;
}
.primerly__items__box__3txt {
  text-decoration: none;
  color: #bf9c56;
}
.primerly__items__box__4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  background-color: #f2f2f2;
}
.primerly__items__box__4txt {
  color: #333333;
  font-size: 36px;
}
.primerly__items__box__5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f2f2f2;
}
.b5box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  /* justify-content: center; */
  /* margin: 0 auto; */
  text-align: center;
  border: 1px solid #e6e6e6;
}
.b5h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #1a1a1a;
}
.b5p {
  text-transform: none;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}
.track__1__dv {
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 80px; */
  gap: 40px;
  margin: 0 auto;
}

.track__1__dv__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.track__1__dv__left > h2 {
  font-size: 32px;
  margin-top: 30px;
}
.track__1__dv__left > h5 {
  width: 380px;
  margin-top: 30px;
}
.track__1__dv__left > ul {
  margin-top: 30px;
  margin-bottom: 30px;
}
.li__tracks {
  font-weight: normal;
  line-height: 30px;
}
.track__buttons__1 {
  font-weight: bold;
  color: #1a1a1a;
  font-size: 15px;
  padding: 15px 40px;
  border: 2px solid #bf9c56;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
}
.track__buttons__1:active {
  transform: scale(0.95);
}
.track__buttons__2 {
  font-weight: bold;
  padding: 15px 56px;

  font-family: "montserrat", sans-serif;
  font-size: 15px;
  background-color: #1a1a1a;
  color: #bf9c56;
  border: 2px solid #1a1a1a;
  cursor: pointer;
}
.track__buttons__2:active {
  transform: scale(0.95);
}
.image-wrapper {
  width: 100%;
  position: relative;
  display: inline-block;
}

.image-wrapper img:first-child {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.image-wrapper::after {
  content: "В НАЛИЧИИ";
  position: absolute;
  top: 10px;
  right: 30px;
  color: #bf9c56;
  background-image: url("pics/check.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 8px center;
  padding: 8px 10px 8px 47px;
  font-size: 24px;
  font-weight: bold;
  /* z-index: 1; */
  /* line-height: 20px; */
  /* display: inline-flex; */
  /* align-items: center; */
  gap: 10px;
}
.image-wrapper img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  cursor: pointer;
}
.tracks__section {
  min-height: 1920px;
  background-color: #e6e6e6;
}
.track__1__dv {
  padding: 120px 0px;
}
.p23::after {
  left: 100px;
}
.track__2__dv {
  width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 80px; */
  gap: 100px;
  margin: 0 auto;
}
.track__2__dv > .track__1__dv__right {
  margin-left: -60px;
}

.tracks__p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  color: #333333;
  margin: 0 auto;
  width: 920px;
  height: 180px;
  font-style: italic;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  padding: 10px 20px;
  padding-top: 220px;
}
.tracks__p > .p2 {
  padding-top: 50px;
}
.top__narabotki__sc {
  background-color: #191919;
  padding: 80px;
  display: flex;
  justify-content: center;
}

.panel {
  background: var(--card);
  border-radius: var(--radius);
  box-shadow: 0 8px 30px rgba(2, 6, 23, 0.06);
  padding: 18px;
}
.tabs {
  display: flex;
  /* gap: 10px; */
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.tab-btn {
  padding: 10px 14px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}
.tab-btn[aria-selected="true"] {
  background: linear-gradient(
    90deg,
    rgba(59, 130, 246, 0.12),
    rgba(99, 102, 241, 0.06)
  );
  border-color: var(--accent);
  color: var(--accent);
  box-shadow: 0 6px 18px rgba(59, 130, 246, 0.12);
}
.wrap {
  margin: 0 auto;
  max-width: 1920px;
  display: block;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  /* gap: 10px; */
  align-items: center;
  /* overflow-x: auto; */
  /* padding-bottom: 6px; */
}
.tabs::-webkit-scrollbar {
  height: 8px;
}
.tabs::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.tab-btn {
  /* appearance: none; */
  /* border: 2px solid transparent; */
  /* background: transparent; */
  background-color: #191919;
  /* padding: 10px 14px; */
  /* border-radius: 999px; */
  /* font-weight: 700; */
  cursor: pointer;
  /* white-space: nowrap; */
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
  color: #e6e6e6;
  display: flex;
  /* gap: 8px; */
  width: 384px;
  height: 80px;
  align-items: center;
  flex: 0 0 20%;
  /* max-width: 20%; */
  border: 1px solid black;
}
.tab-btn:focus {
  /* outline: none; */
  box-shadow: 0 6px 20px rgba(37, 99, 235, 0.12);
}

.tab-btn[aria-selected="true"] {
  background: linear-gradient(
    90deg,
    rgba(37, 99, 235, 0.12),
    rgba(99, 102, 241, 0.04)
  );
  border-color: rgba(37, 99, 235, 0.18);
  color: var(--accent);
  box-shadow: 0 8px 30px rgba(37, 99, 235, 0.08);
  transform: translateY(-2px);
}

.top-controls {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--muted);
  font-size: 13px;
}

.content {
  display: flex;
  gap: 28px;
  padding: 28px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.art {
  flex: 0 0 420px;
  max-width: 100%;
  height: 260px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #fff 0%, #fbfdff 100%);
  box-shadow: inset 0 -10px 30px rgba(2, 6, 23, 0.02);
  overflow: hidden;
}

.text {
  flex: 1 1 360px;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  padding: 6px 4px;
}
.title {
  font-size: 22px;
  font-weight: 800;
  color: #0b1220;
}
.desc {
  color: var(--muted);
  line-height: 1.6;
  font-weight: 500;
  font-size: 18px;
  color: #0b1220;
  line-height: 30px;
  font-style: medium;
}
.upravleniye__section {
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1920px;
  min-height: 1040px;
  background-color: #141414;
}
.upravleniye__texts > h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
}
.upravleniye__texts > h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 20px;
}
.upravleniye__texts {
  padding-top: 120px;
}
.upravleniye__images {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 160px;
  margin-top: 100px;
  align-items: center;
  width: 1440px;
  height: 640px;
}
.upravleniye__images > .img1 {
  display: block;
  margin-top: -200px;
}
.zadachi__tasks__section {
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  max-width: 1920px;
  min-height: 1000px;
  background-color: #f2f2f2;
}
.zadachi__tasks__section > .text {
  color: #333333;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  padding: 80px;
}

.zadachi__tasks__section__divs {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.zadachi__tasks__section__divs > div {
  height: 400px;
  width: 640px;
  padding: 60px;
  border: 1px solid #e6e6e6;
  align-items: center;
  /* justify-content: space-between; */
  /* justify-content: start; */
}
.zadachi__tasks__section__divs > div > h4 {
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  color: #191919;
}
.zadachi__tasks__section__divs > div > p {
  color: #333333;
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 30px;
  margin-top: 40px;
  /* width: 500px; */
  text-transform: initial;
  text-align: left;
}
.zadachi__tasks__div1__buttons {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.zadachi__tasks__div1__button1 {
  background-color: #0d0d0d;
  width: 320px;
  height: 50px;
  color: #bf9c56;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
}
.zadachi__tasks__div1__button2 {
  width: 144px;
  height: 50px;
  border: 2px solid;
  color: #bf9c56;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
}
